
body {
    margin: 0;
    
    font-family: 'Indie Flower', cursive;
    /* fill image */
    background: url(images/meadow.jpg)   fixed;
    background-size: cover;
}

/* Main Grid Layout */
.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    height: 100vh;
    gap: 10px;
    padding: 10px;
}

/* Left Column: Cookie + Stats */
.middle-panel {
    background: fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    order: 2;
}

.chicken {
    width: 600px;
    height: 600px;
    background: url('images/Chicken_Main.png') no-repeat;
    background-size: 90%;
    background-position: -5px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.chicken:active {
    transform: scale(0.9);
}

.stats {
    margin-top: 20px;
    text-align: center;
}

.stats h1 {
    font-size: 1.5rem;
    margin: 0;
}

.stats p {
    font-size: 1rem;
    color: #555;
}

/* Middle Column: Production Units */
.left-panel {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow-y: auto;
    order: 1;
}


.units {
    display: grid;
    gap: 10px;
    overflow-y: auto;
}

.unit {
    background: rgb(236,225,122);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/* Right Column: Store */
.right-panel {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    order: 3
}

.store-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.store-items {
    display: grid;
    gap: 10px;
    overflow-y: auto;
}

.store-item {
    background: rgb(236,225,122);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.store-item:hover {
    background: #ddd;
}